<!DOCTYPE html>
<html lang="en">

<head>

  <title>Assignment 2</title>
</head>

<body>
  <!-- 1st Component  -->
  <img src="./images_kktpq7.png" width="1500" alt="">

    <!-- 2nd Component  -->
  <p style="text-align: center;"><b>Ara Profile</b></p>
  <table>
    <tr>
      <td width="1000">
        <p>profile sheet 0.40 mm to 1.0 mm 28 gauge into 20 gauge and worth 100 mm (39 <sup>,,</sup>) X 1220 mm (48
          <sup>,,</sup>) 1500 mm (50 <sup>,,</sup>) and send where you want.Gi sheet and Roll,Coated Sheet and Roll, H.R.C Sheet and Roll and
          Stain-less steel also can profile by us
        </p>
        


      </td>
      <td width="190">

      </td>
      <td width="300">
        <img src="Facebook_f_logo_(2021).svg.jpg" alt=""> <img src="./insta_cf1rkw.jpg" alt=""> 
        <img src="./twiter_y8idrd.png" alt=""> <br>
        <a href="www.facebook.com">fb.com/naveed.trainer</a>


      </td>
    </tr>
  </table>
  <table>
    <tr style="vertical-align:top">
      <td width="300">
        <img src="./2_t5rcog.jpg" alt="" width="300" height="250"> </img>
      </td>
      <td>
        <h3>Cable Tray</h3>
        <p> We have many diffrnt kind and size of cable Tray in M/S.Galvanize and coated sheet.you can purchase S.S
          Cable Tray from us.cable Tray of any industries you can buy from us.</p>
        <p> We have many diffrnt kind and size of cable Tray in M/S.Galvanize and coated sheet.you can purchase S.S
          Cable Tray from us.cable Tray of any industries you can buy from us.</p>
        <p> We have many diffrnt kind and size of cable Tray in M/S.Galvanize and coated sheet.you can purchase S.S
          Cable Tray from us.cable Tray of any industries you can buy from us.</p>

      </td>
      <td width="300">
        <img src="1_xewrnv.jpg" alt="" width="250" height="150">
        <p>C-Channels made by us in every guages. 3.00, 2.50, 2.00, 1.80, 1.60, length 10 feet. We can make C-Channles
          in different sizes in shapes and we can also make C-Channels for petrol pumps. CNG stations and tool plazas.
        </p>
      </td>

    </tr>
  </table>

    <!-- 3rd Component  -->

  <table style="width: 100%;">
    <tr>
      <td>
        <ul>
          <li>Ara</li>
          <li>Profile</li>
          <li>Sheet</li>
          <li>170*</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Ara</li>
          <li>Profile</li>
          <li>Sheet</li>
          <li>170*</li>
        </ul>
      </td>
      <td>
        <ol>
          <li>Ara</li>
          <li>Profile</li>
          <li>Sheet</li>
          <li>170*</li>
        </ol>
      </td>
    </tr>
  </table>

    <!-- 4th Component  -->
  <h1 style="text-align: center;">Join Us</h1>
  <table align="center">
    <tr>
        <td>
        <form action="">
          <input type="text"size="45" placeholder="Name"> <br>
          <input type="text" size="45" placeholder="Adress"><br>
          <input type="text" size="45" placeholder="CITY"><br>
          <input type="text" placeholder="STATE"> <br>
          <input type="text" placeholder="ZIP" > <br>
          <select name="Newswork" id="Newswork">
            <option value="Newswork">Newswork</option>
            <option value="Ara">Ara</option>
            <option value="Profile">Profile</option>
            <option value="Cable">Cable</option>
          </select> <br>
        </form>
          <input type="radio" value="1 year" name="Year"> 1 Year 
          <input type="radio" value="2 year" name="Year"> 2 Year <br>
          <textarea name="Comment" id="" cols="30" rows="4"
          placeholder="Comment"></textarea>
      </td >


    </tr>
  </table>





</body>

</html>